*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Friz Quadrata Regular OS';
    font-style: normal;
    font-weight: normal;
    src: local('.assets/fonts/Friz Quadrata Regular OS'), format('woff');
}


@font-face {
    font-family: 'BeaufortforLOL-Regular.ttf';
    font-style: normal;
    font-weight: normal;
    src: local('.assets/fonts/BeaufortforLOL-BoldItalic.otf'), format('opentype');
}




.champInput{
    background: transparent;
    color: white;
    font-family: 'Friz Quadrata Regular OS';
    font-size: 1.2rem;
    border-radius: 1.2rem;
}

.searchButton{
    font-family: 'Friz Quadrata Regular OS';
    font-size: 1.2rem;
    border-radius: 1.2rem; 
}

.champInput:focus{
    background: transparent;
    outline: none;
    box-shadow: none;
    border-color: white;
    color: white;
}

body{
    background-image: url(../assets/lanscape.jpg);
    background-attachment: fixed ;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.champCard{
    width: 90%; 
    position: relative;
    overflow: hidden;
    transition: 250ms ease-in;
    background-image: "asset";
    margin-bottom: 2em;
    border: 1px solid rgb(200, 170, 110);
    border-radius: 0.1rem;
    cursor: pointer;
}

#champions-container{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.cardContent{
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6) 90%);
    color: rgb(200, 170, 110);
    position: absolute;
    font-weight: 900;
    font-style: italic;
    top: 100%;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    transition: 250ms ease-in;
    font-family: 'BeaufortforLOL-Regular.ttf';
    font-weight: 900;
    justify-content: center;
}

.champ-name{
    font-size: 1.5rem;
    text-align: center;
}

.champCard:hover .cardContent{
    top: 60%;
}

.champCard:hover{
    transform: scale(105%);
}

.champCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-background{
    display:flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.514);
    z-index: 200;
    overflow: scroll;
}

.champ-modal{
    width: 90%;
    height: fit-content;
    min-height: 200vh;
    border: 1.5px solid rgb(200, 170, 110);
    background-color: rgba(0, 0, 0, 0.753);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    position: relative;
}

.champ-full-splash{
    width: 100%;
    border: 1.5px solid rgb(200, 170, 110);
}

.champ-skills{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.champ-skill{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}

.champ-skill-img{
    padding: 4px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40%;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

#Passive{
    outline: solid rgb(200, 170, 110);
}

.champ-skill-img:hover{
    transform: scale(110%);
    position: absolute;
}

.champ-modal-name, .champ-modal-title{
    font-family: "BeaufortforLOL-Regular.ttf";
    color: rgb(200, 170, 110);
    font-weight: 900;
}

.champ-modal-name{
    font-size: 4em;
    color: white;
}

.modal-skill-title{
    font-family: "BeaufortforLOL-Regular.ttf";
    color: rgb(200, 170, 110);
    font-weight: 900;
    text-align: center;
}

.modal-skill-text{
    font-family: "BeaufortforLOL-Regular.ttf";
    color: white;
    font-weight: bold;
    font-size: 2em;
    margin-left: 1rem;
}

.modal-exit{
    color: rgb(200, 170, 110);
    position: absolute;
    top: 0.7%;
    right: 3%;
    font-family: "BeaufortforLOL-Regular.ttf";
    font-size: 200%;
    text-decoration: none;
    text-align: center;
    transition: 200ms ease-in;
    cursor: pointer;
}

.modal-exit:hover{
    color: hsl(40, 45%, 41%);
    transform: scale(120%);
}

#modal-container{
    transition: 200ms ease-in;
}
.svg-logo > img{
    width: 20vw; 
    min-width: 100px; 
    height: auto;
    text-align: center;
}

@media screen and (max-width: 700px){
    .svg-logo > img{
        width: 40vw; 
        min-width: 100px; 
        height: auto;
        text-align: center;
    }
    .svg-logo, .nav-form{
        width: 100vw;
        display: flex;
        justify-content: center;
    }
}